body {
    font-family: "Noto Sans Mongolian", sans-serif;
    background: #B4D6CD;
    margin: 0;
}

h1{
    margin: 0;
}

p {
    line-height: 1.5;
}

main{
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

a :hover{
    text-decoration: underline;
}

/*Banner*/

#banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, .2) url('../img/2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
}

/* Navigation */

nav {
    position: fixed;
    height: 72px;
    background: #202125;
    border-top: 6px solid #00002a;
    width: 100%;
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
}

nav a {
    padding: 0 32px;
    color: #eee;
    transition: 0.4s;
}

nav a:hover {
    text-decoration: none;
    color: red;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}

.active {
    /* Active page */
    color: #f783ae; 
}

#logo-img {
    display: flex;
    height: 72px;
    padding: 0;
    align-items: center;
    color: white;
}

#logo-img {
    display: flex;
}

#logo-img img {
    width: 86px;
    float: inline-start;
    padding-bottom: 6px;
}

#logo-img p {
    font-size: 20px;
    float: inline-end;
    text-decoration: none;
    color: wheat;
    padding-left: 8px;
}

#menu-icon {
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color: #eee;
    display: none;
    align-items: center;
    cursor: pointer;
}

/* Slideout Menu */

#slideout-menu{
    display: none;
    background: #2d3436;
    z-index: 100;
    position: fixed;
    transition: 0.4s;
    margin-top: 72px;
    width: 100%;
    text-align: center;
    opacity: 0;
    pointer-events:none;
}

#slideout-menu ul{
    list-style: none;
    padding: 0 32px;
}

#slideout-menu ul li{
    padding: 8px;
}

#slideout-menu a{
    font-family: "Noto Sans JP", sans-serif;
    justify-content: space-around;
    color: white;
}

/* Heading */

#header {
    background: rgb(0, 0, 30, 0.8);
    border: 1px solid #00002a;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin: 0;
    font-family: "Noto Serif Khitan Small Script", serif;
}

#header h1{
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

#year{
    width:fit-content;
    height: fit-content;
    margin: -36px auto 0 auto;
}

#year h3{
    background: rgb(255, 0, 0);
    border-radius: 28px;
    border: 4px solid black;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0;
    z-index: 1;
}


/* Welcome Section */

#welcome-heading{
    font-size: 32px;
    font-family: "Noto Sans JP", sans-serif;
    display: inline-block;
    padding-bottom: 0;
}

#welcome-image{
    padding: 40px 0;
}

/* Sections */

section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-heading{
    font-size: 32px;
    font-family: "Noto Sans JP", sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
    cursor: default;
}

.section-heading:hover{
    padding: 4px 48px;
    background: #00002a;
    color: white;
    text-decoration: none;
}

/* Card */

.card{
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

.card-image{
    position: relative;
    /* border: 2px solid black; */
}

.card-image img{
    border-radius: 20%;
    margin-bottom: -3px;
    
}

.student-description{
    position: absolute;
    border-radius: 20%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #921A40;
}

.card-image:hover .student-description{
    opacity: 1;
}

.std-des-text{
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-decoration: none;
}

.std-des-text:hover{
    text-decoration: none;
}

.card-description{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: -12px;
}

/* Button View More */

#view-students{
    height: fit-content;
    width: fit-content;
    margin: -16px auto 64px auto;
}

#view-students .btn-viewmore{
    padding: 4px 24px 12px;
    border: 3px solid black;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    background: white;
    transition: 0.4s;
}

#view-students .btn-viewmore:hover{
    background: red;
    text-decoration: none;
    color: white;
}

/* Footer */

footer {
    background: #00002a;
    padding: 8px;
    color: #eee;
    display: flex;
}

footer a {
    color: white;
}

#left-footer{
    flex: 1;
    border-right: 1px solid red;
    padding-left: 32px;
}

#left-footer ul{
    padding: 0;
    list-style: none;
    line-height: 1.5;
}

#right-footer{
    flex: 2;
    padding: 0;
    text-align: center;
}

#sponsors h3{
    text-align: left;
    padding-left: 32px;
}
#sponsor-logo{
    display: flex;
}

#sponsor-logo a{
    padding: 0;
    height: auto;
    width: auto;
}

#sponsor-logo img{
    width: 125px;
    height: 125px;
    object-fit: contain;
    padding: 16px;
    align-items: flex-start;
}

#copyright{
    margin-top: 112px;
}

/* ABOUT PAGE */

.about-heading{
    font-size: 32px;
    font-family: "Noto Sans JP", sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
    margin-top: 128px;
    cursor: default;
}

.about-heading:hover{
    padding: 4px 48px;
    background: #00002a;
    color: white;
    text-decoration: none;
}

#about-image img{
    width: 100%;
    /* flex: 1; */
}

/* Media Queries */

@media only screen and (max-width:1190px){
    #header h1{
        font-size: 20px;
    }

    #year{
        margin: -22px auto 0 auto;
    }

    #year h3{
        font-size: 18px;
        padding: 8px;
        border-radius: 20px;
    }
}

@media only screen and (max-width:1100px){
    nav ul{
        display: none;
    }

    #menu-icon{
        display: flex;
    }

    #slideout-menu{
        display: block;
    }
}

/* @media only screen and (max-width: 765px){

} */

@media only screen and (max-width: 719px){
    main{
        width: 95%;
    }

    section{
        display: flex;
        flex-direction: column;
    }

    .welcome, #welcome-image img, .card-image img{
        width: 100%;
    }

    .card{
        width: 100%;
    }

    footer{
        flex-direction: column;
        text-align: center;
    }

    footer #left-footer{
        flex: 1;
        border-right: 0;
        padding-left: 0;
    }

    footer #right-footer #copyright{
        background: #eee;
        color: black;
        padding: 16px;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 610px){
    #logo-img p{
        font-size: 18px;
    }

    #header h1{
        font-size: 10px;
    }

    #year{
        margin: -16px auto 0 auto;
    }

    #year h3{
        font-size: 10px;
        padding: 6px;
        border-radius: 20px;
    }

    #welcome-heading{
        text-align: center;
    }

    .section-heading{
        font-size: 24px;
    }

    .card{
        text-align: center;
    }

    #sponsor-logo img{
        width: 80px;
        height: 80px;
        padding: 16px;
    }

    .about-heading{
        font-size: 22px;
    }
}

@media only screen and (min-width: 720px){
    main{
        width: 95%;
    }
    
    .welcome{
        width: 45%;
    }

    #welcome-image img{
        width: 100%;
    }

    .card{
        width: 21%;
    }

    .card .card-image img{
        width: 100%;
    }
}

@media only screen and (min-width: 1200px){
    main {
        width: 85%;
    }
}